<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div id="mensaje">
          <h1>Repositorio Institucional</h1>
          <p>El Repositorio Institucional de la Universidad Viña del Mar es un espacio de almacenamiento, preservación y difusión del material documental producido por académicos y estudiantes en las áreas de docencia, investigación y vinculación con el medio.</p>
          <p>En este espacio podrá encontrar: artículos de revistas, reportes de investigación, tesis de pre y postgrado, material docente, documentación académica y aportes de miembros de nuestra Universidad en Medios de Comunicación nacionales y regionales.</p>
        </div>
      </div>
    </div>
  </div>
</div>