<footer class="footer">
    <div class="rrss" title="RRSS">
        <span style="margin-right: 2%; margin-left: 2%;">
            <a href="https://www.facebook.com/universidadfinisterrae" target="_blank" rel="noopener noreferrer" title="Facebook">
                <img src="assets/geek-uft/images/rrss/rrss-facebook-finis-terrae.png" alt="facebook" width="55" height="55"/>
            </a>
        </span>
        <span style="margin-right: 2%;">
            <a href="http://instagram.com/ufinisterrae/" target="_blank" rel="noopener noreferrer" title="Instagram">
                <img src="assets/geek-uft/images/rrss/rrss-instagram-finis-terrae.png" alt="instagram" width="55" height="55"/>
            </a>
        </span>
        <span style="margin-right: 2%;">
            <a href="https://twitter.com/ufinisterrae" target="_blank" rel="noopener noreferrer" title="Twitter">
                <img src="assets/geek-uft/images/rrss/rrss-twitter-finis-terrae.png" alt="twitter" width="55" height="55"/>
            </a>
        </span>
        <span style="margin-right: 2%;">
            <a href="https://www.youtube.com/channel/UC-4Zcj2PNJ3mmTwAtNEK2aA" target="_blank" rel="noopener noreferrer" title="Youtube">
                <img src="assets/geek-uft/images/rrss/rrss-youtube-finis-terrae.png" alt="Youtube" width="55" height="55"/>
            </a>
        </span>
        <span style="margin-right: 2%;">
            <a href="https://cl.linkedin.com/in/universidadfinisterrae" target="_blank" rel="noopener noreferrer" title="Linkedin">
                <img src="assets/geek-uft/images/rrss/rrss-linkedin-finis-terrae.png" alt="linkedin" width="55" height="55"/>
            </a>
        </span>
    </div>
    <div class="footer-container">
        <div class="footer-panel">					
            <h3>La Universidad</h3>
            <ul>
                <li><a href="https://uft.cl/home/reglamentos">Normativa Institucional</a></li>
                <li><a href="https://uft.cl/modelo-formativo">Modelo Formativo</a></li>
                <li><a href="https://uft.cl/home/planificacion-estrategica">Planificación Estratégica</a></li>
                <li><a href="https://uft.cl/home/transparencia">Transparencia</a></li>
                <li><a href="https://uft.cl/acreditacion/acreditacion-institucional">Acreditación</a></li>
                <li><a href="https://uft.cl/imagen-corporativa-finis-terrae">Imagen Corporativa</a></li>
            </ul>
        </div>
        <div class="footer-panel">					
            <h3>Unidades</h3>
            <ul>
                <li><a href="https://uft.cl/vinculacion-con-el-medio">Vinculación con el Medio</a></li>
                <li><a href="https://uft.cl/investigacion">Investigación</a></li>
                <li><a href="https://uft.cl/internacional">Internacional</a></li>
                <li><a href="https://uft.cl/desarrollo-y-relaciones-institucionales">Desarrollo y Relaciones Institucionales</a></li>
            </ul>
        </div>
        <div class="footer-panel">
            <h3>Servicios</h3>
            <ul>
                <li><a href="https://admision.uft.cl/matriculas/proceso-de-matricula-2019/?_ga=2.236501697.1535287846.1567416006-915308467.1567416006">Matrícula</a></li>
                <li><a href="https://admision.uft.cl/becas-y-beneficios/becas-beneficios-y-convenios/">Financiamiento</a></li>
                <li><a href="https://uft.cl/biblioteca">Biblioteca</a></li>
                <li><a href="https://webpay.uft.cl/login.aspx">Pago Online</a></li>
                <li><a href="https://uft.cl/certificados-en-linea">Certificados en línea</a></li>
                <li><a href="https://uft.reqlut.com/">Bolsa de trabajo Alumni</a></li>
            </ul>
        </div>
        <div class="footer-panel">
            <h3>Programas</h3>
            <ul>
                <li><a href="https://admision.uft.cl/carreras/?_ga=2.236501697.1535287846.1567416006-915308467.1567416006">Carreras Diurnas</a></li>
                <li><a href="https://admision.uft.cl/vespertino/">Carreras Vespertinas</a></li>
                <li><a href="https://postgrados.uft.cl/programas/curso-2/">Cursos</a></li>
                <li><a href="https://postgrados.uft.cl/programas/diplomado-2/">Diplomados</a></li>
                <li><a href="https://postgrados.uft.cl/programas/magister/">Magíster</a></li>
                <li><a href="https://postgrados.uft.cl/programas/postitulo-2/">Especialidades</a></li>
            </ul>
        </div>
        <div class="footer-panel">
            <h3>Contáctanos</h3>
            <ul>
                <li> 
                    <i class="fas fa-home"></i>
                    <a href="https://goo.gl/maps/hohBUZvzzvw" target="_blank" rel="noopener noreferrer"> Avda. Pedro de Valdivia 1509<br/><span style="margin-left: 20px;">Providencia, Santiago</span></a>
                </li>
                <li>
                    <i class="fas fa-map-marker"></i>
                    <span class="uk-icon-location-arrow" style="color: #e5e5e5;"></span> Código Postal: 7501015
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <span class="uk-icon-phone" style="color: #e5e5e5;"></span> +56 2 24207100
                </li>
            </ul>
        </div>
        <div class="footer-panel">
            <div class="acreditacion">
                <img src="assets/geek-uft/images/nuevo-gratuidad.png" class="uk-hidden-small logo gratuidad"/>
                <img src="assets/geek-uft/images/nueva-acreditacion.svg" class="uk-hidden-small logo acreditacion"/>
            </div>
            
        </div>
    </div>
</footer>